body{
  margin: 0;
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
h2{
  font-weight:600;
  position: relative;
  z-index: 2;
}
h3{
 margin: 0;
 font-weight: 500;
}
p{
  margin: 0;
  line-height: 1.5;
  }


/* Text colors */

.dark_section{
  color: hsl(210, 46%, 95%);
}
.dark_section p{
  color: hsl(0, 0%, 81%, 0.7);
}
.dark_section .graduate{
  color: hsl(0, 0%, 81%, 0.5);
}


.clear_section{
  color: hsl(217, 19%, 35%);
}
.clear_section p{
  color:hsl(217, 19%, 35%, 0.7);
}
.clear_section .graduate{
  color: hsl(217, 19%, 35%, 0.5);
}



/* Grid layout */

.wrapper{
  background-color: hsl(210, 46%, 95%);
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.5rem;
  grid-template-areas:
  "a a b f"
  "c d d f";
}

.comment{
  border-radius: 7px;
  padding: 2rem;
}
.one{
  background-color: hsl(263, 55%, 52%);
  grid-area:a;
  position: relative;
  }
.two{
  background-color: hsl(217, 19%, 35%);
  grid-area:b;
}
.three{
  background-color: hsl(0, 0%, 100%);
  grid-area:c;
}
.four{
  background-color: hsl(219, 29%, 14%);
  grid-area:d;
}
.five{
  background-color: hsl(0, 0%, 100%);
  grid-area:f;
}


/* Images */
.personal_img{
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.one .personal_img{
  border: solid 2px hsl(263, 55%, 70%);
}
.four .personal_img{
  border: solid 2px hsl(263, 55%, 52%);
}

.quotation-image{
 position:absolute;
 right: 15%;
 top: 0;
 z-index: 1;
}


/* Flexbox layout for commentators' names */
.author_profile{
  display: flex;
  }
.author{
  flex: 1 0 auto;
  align-self: center;
  padding-left: 10px;
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Mobile design */

@media (max-width: 400px) {
  .wrapper{
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
  }
}
